@import "variables.scss";

@mixin background-color($color:$background) {
  background-color: $color;
}

@mixin row() {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin padding($padding:0.5rem) {
  padding: $padding;
}

@mixin color($color:white) {
  color: $color;
}

